01. Importing libraries

In [1]:
# import libraries
import pandas as pd
import numpy as np
import os

# Importing orders_wrangled.csv, products.csv, and departments.csv using os

In [2]:
path = r'C:\Users\25670\Desktop\Intercart Basket Analysis16.07.2024'

In [3]:
path

'C:\\Users\\25670\\Desktop\\Intercart Basket Analysis16.07.2024'

In [4]:
df_prods = pd.read_csv(os.path.join(path, '02 Data','original Data', 'products.csv'), index_col = False)

In [5]:
df_dep = pd.read_csv(os.path.join(path, '02 Data','original Data', 'departments.csv'), index_col = False)

In [7]:
df_ords = pd.read_csv(os.path.join(path, '02 Data','prepared Data', 'orders_wrangled.csv'), index_col = False)

QN.1 and 2 Consistency checks

## Consistency checks for orders dataframe

In [8]:
df_ords.describe()

,Unnamed: 0,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order
count,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.214874e+06
mean,1.710541e+06,1.710542e+06,1.029782e+05,1.715486e+01,2.776219e+00,1.345202e+01,1.111484e+01
std,9.875817e+05,9.875817e+05,5.953372e+04,1.773316e+01,2.046829e+00,4.226088e+00,9.206737e+00
min,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,8.552705e+05,8.552715e+05,5.139400e+04,5.000000e+00,1.000000e+00,1.000000e+01,4.000000e+00
50%,1.710541e+06,1.710542e+06,1.026890e+05,1.100000e+01,3.000000e+00,1.300000e+01,7.000000e+00
75%,2.565812e+06,2.565812e+06,1.543850e+05,2.300000e+01,5.000000e+00,1.600000e+01,1.500000e+01
max,3.421082e+06,3.421083e+06,2.062090e+05,1.000000e+02,6.000000e+00,2.300000e+01,3.000000e+01

Interpretation: The min in the order_dow is 0 and the max is 6 giving a total of exactly 7 days of the week.

## Consistency checks for products dataframe

In [9]:
df_prods.describe()

         product_id      aisle_id  department_id        prices
count  49693.000000  49693.000000   49693.000000  49693.000000
mean   24844.345139     67.770249      11.728433      9.994136
std    14343.717401     38.316774       5.850282    453.519686
min        1.000000      1.000000       1.000000      1.000000
25%    12423.000000     35.000000       7.000000      4.100000
50%    24845.000000     69.000000      13.000000      7.100000
75%    37265.000000    100.000000      17.000000     11.200000
max    49688.000000    134.000000      21.000000  99999.000000

QN 3 and 4. Checking for mixed-type data in the df_ords dataframe

## Defining 'df_test' by creating a dataframe and testing the formula/code for checking mixed-type

In [13]:
# create a dataframe
df_test = pd.DataFrame()

In [14]:
for col in df_test.columns.tolist():
  weird = (df_test[[col]].applymap(type) != df_test[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_test[weird]) > 0:
    print (col)

## Practicing using the example in the task page because the Instacart data is already prepared so we will practice fixing mixed-type data by creating a small test dataframe

In [16]:
# create a mixed-type column
df_test['mix'] = ['a', 'b', 1, True]

In [17]:
df_test.head()

    mix
0     a
1     b
2     1
3  True

# checking for mixed-types

In [20]:
for col in df_test.columns.tolist():
  weird = (df_test[[col]].applymap(type) != df_test[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_test[weird]) > 0:
    print (col)

mix

C:\Users\25670\AppData\Local\Temp\ipykernel_23524\1786467950.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_test[[col]].applymap(type) != df_test[[col]].iloc[0].apply(type)).any(axis = 1)

# converting the numeric data into string data in the mix column

In [21]:
df_test['mix'] = df_test['mix'].astype('str')

QN.5. Checking for missing values in the df_ords dataframe and df_prods dataframe

## Finding missing values in the df_ords dataframe

In [22]:
df_ords.isnull().sum()

Unnamed: 0                     0
order_id                       0
user_id                        0
order_number                   0
order_dow                      0
order_hour_of_day              0
days_since_prior_order    206209
dtype: int64

Interpretation: For df_ords which was obtained from "prepared data" and not "Original data" there are no missing values

## Finding missing values in the df_prods dataframe

In [23]:
df_prods.isnull().sum()

product_id        0
product_name     16
aisle_id          0
department_id     0
prices            0
dtype: int64

Interpretation: For df_prods obtained from "Original data" there are 16 missing values in the "product name" column

## Creating a subset to view these 16 missing values

In [24]:
# create a dataframe
df_nan = pd.DataFrame()

In [25]:
df_nan = df_prods[df_prods['product_name'].isnull()==True]

In [26]:
df_nan

       product_id product_name  aisle_id  department_id  prices
33             34          NaN       121             14    12.2
68             69          NaN        26              7    11.8
115           116          NaN        93              3    10.8
261           262          NaN       110             13    12.1
525           525          NaN       109             11     1.2
1511         1511          NaN        84             16    14.3
1780         1780          NaN       126             11    12.3
2240         2240          NaN        52              1    14.2
2586         2586          NaN       104             13    12.4
3159         3159          NaN       126             11    13.1
3230         3230          NaN       120             16    14.4
3736         3736          NaN        41              8    14.8
4283         4283          NaN        77              7    14.4
4790         4790          NaN        91             16    14.5
38187       38183          NaN        39             12    20.9
40444       40440          NaN       120             16    14.8

QN.6. Addressing missing values using appropriate methods

There are a few ways to deal with missing data as seen below;
1)  Create a new variable that acts like a flag based on the missing value.
2) Impute the value with the mean or median of the column (if the variable is numeric).
3) Remove or filter out the missing data.

# compare the number of rows in your current dataframe with the number in your subset before addressing the missing values

In [27]:
df_prods.shape

(49693, 5)

# explain why I used method 3 "Remove or filter out the missing data
so to address the missing values, I will use method 3 which is "remove or filter out the missing data" to create a new dataframe it is the most appropriate and recommended method  in the exercise since we do not want to loose the data with missing values

## Filtering out the missing data

In [28]:
# create a dataframe
df_prods_clean = pd.DataFrame()

In [29]:
df_prods_clean = df_prods[df_prods['product_name'].isnull() == False]

In [30]:
df_prods_clean.shape

(49677, 5)

QN.7. Checking for duplicates in the df_ords data

## Finding duplicates

In [31]:
df_dups = df_prods_clean[df_prods_clean.duplicated()]

In [32]:
df_dups

,product_id,product_name,aisle_id,department_id,prices
462,462,Fiber 4g Gummy Dietary Supplement,70,11,4.8
18459,18458,Ranger IPA,27,5,9.2
26810,26808,Black House Coffee Roasty Stout Beer,27,5,13.4
35309,35306,Gluten Free Organic Peanut Butter & Chocolate ...,121,14,6.8
35495,35491,Adore Forever Body Wash,127,11,9.9

# Reporting findings and proposing explanations for the duplicate values

QN. 8.Addressing duplicates using appropriate methods

## Addressing duplicates

To address the presence of duplicates in the dataframe containing product information, I utilized the "drop_duplicates()" method in pandas.
Here's why this method was chosen;
1. Simple and Effective: The "drop_duplicates()" method is a straightforward and effective way to eliminate duplicate rows from a dataframe. It automatically identifies and removes duplicate rows based on their values.
2. Preservation of Data Integrity: By dropping duplicate rows, we ensure that each product in the dataframe is represented by a unique row, thus preserving the integrity of the data.
3. Efficiency: The method efficiently handles the removal of duplicate rows without the need for manual intervention or complex procedures. By utilizing this method, we can ensure that the product information dataframe is free from duplicates and ready for further analysis.

In [33]:
df_prods_clean.shape

(49677, 5)

In [34]:
df_prods_clean_no_dups = df_prods_clean.drop_duplicates()

In [35]:
df_prods_clean_no_dups.shape

(49672, 5)

QN.9. Exporting final cleaned data frames

In [36]:
# export orders data frame because we had nothing to clean here
df_ords.to_csv(os.path.join(path, '02 Data','Prepared Data', 'orders_checked.csv'))

In [37]:
# export products cleaned data frame because we did some cleaning
df_prods_clean_no_dups.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_checked.csv'))