1. Importing Libraries

In [3]:
import pandas as pd
import numpy as np
import os

2. Importing Data

In [4]:
path = r'C:\Users\25670\Desktop\Intercart Basket Analysis16.07.2024'

In [5]:
path

'C:\\Users\\25670\\Desktop\\Intercart Basket Analysis16.07.2024'

In [6]:
#import ords_prods_merge_derived
df_ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'ords_prods_merged_derived.pkl'))

In [7]:
import warnings
warnings.simplefilter(action ='ignore', category=FutureWarning)

STEP 2

In [8]:
# creat subset
df_ords_prods_merge_sub=df_ords_prods_merge[:1000000]

In [9]:
df_ords_prods_merge_sub.groupby(['department_id']).agg({'order_number':['mean']})

              order_number
                      mean
department_id
1                15.577493
2                17.320781
3                16.084944
4                17.530458
5                14.763075
6                16.658449
7                17.031590
8                15.076662
9                15.447580
10               18.681852
11               15.447411
12               14.327957
13               16.548642
14               16.960241
15               16.121948
16               17.803851
17               15.593633
18               19.674252
19               16.899756
20               16.255442
21               25.535479

In [10]:
# Use groupby and agg functions to calculate mean of user_order_number
df_ords_prods_merge.groupby(['department_id']).agg({'order_number':['mean']})

              order_number
                      mean
department_id
1                15.457838
2                17.277920
3                17.170395
4                17.811403
5                15.215751
6                16.439806
7                17.225802
8                15.340650
9                15.895474
10               20.197148
11               16.170638
12               15.887671
13               16.583536
14               16.773669
15               16.165037
16               17.665606
17               15.694469
18               19.310397
19               17.177343
20               16.473447
21               22.902379

STEP 3

There are 21 "depatment_id" in both, and the mean order numbers seem different from each department when looking at the entire data frame.

STEP 4

In [11]:
# Creating new column "max_order"

df_ords_prods_merge['max_order'] = df_ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

In [12]:
# Checking for new column
df_ords_prods_merge.head(20)

,Unnamed: 0_x,product_id,product_name,aisle_id,department_id,prices,Unnamed: 0.1,Unnamed: 0_y,order_id,user_id,...,orders_day_of_week,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,_merge,busiest_days,busiest_day,busiest_period_of_day,max_order
0,0,1,Chocolate Sandwich Cookies,61,19,5.8,1987,1987,3139998,138,...,6,11,3.0,5,0,both,Regularly busy Days,Regularly busy,Regularly busy,32
1,0,1,Chocolate Sandwich Cookies,61,19,5.8,1989,1989,1977647,138,...,6,17,20.0,1,1,both,Regularly busy Days,Regularly busy,Regularly busy,32
2,0,1,Chocolate Sandwich Cookies,61,19,5.8,11433,11433,389851,709,...,0,21,6.0,20,0,both,Busiest Days,Busiest day,Busiest day,5
3,0,1,Chocolate Sandwich Cookies,61,19,5.8,12198,12198,652770,764,...,3,13,NaN,10,0,both,Slowest Days,Regularly busy,Regularly busy,3
4,0,1,Chocolate Sandwich Cookies,61,19,5.8,12200,12200,1813452,764,...,4,17,9.0,11,1,both,Slowest Days,Least busy,Least busy,3
5,0,1,Chocolate Sandwich Cookies,61,19,5.8,12372,12372,1701441,777,...,1,7,26.0,7,0,both,Busiest Days,Regularly busy,Regularly busy,26
6,0,1,Chocolate Sandwich Cookies,61,19,5.8,13096,13096,1871483,825,...,2,14,30.0,2,0,both,Regularly busy Days,Regularly busy,Regularly busy,9
7,0,1,Chocolate Sandwich Cookies,61,19,5.8,14603,14603,1290456,910,...,3,10,30.0,1,0,both,Slowest Days,Regularly busy,Regularly busy,12
8,0,1,Chocolate Sandwich Cookies,61,19,5.8,17065,17065,369558,1052,...,1,20,19.0,1,0,both,Busiest Days,Regularly busy,Regularly busy,20
9,0,1,Chocolate Sandwich Cookies,61,19,5.8,17070,17070,589712,1052,...,1,12,15.0,2,1,both,Busiest Days,Regularly busy,Regularly busy,20
10,0,1,Chocolate Sandwich Cookies,61,19,5.8,22082,22082,1798115,1379,...,5,11,NaN,1,0,both,Regularly busy Days,Regularly busy,Regularly busy,10
11,0,1,Chocolate Sandwich Cookies,61,19,5.8,23713,23713,497193,1480,...,3,13,7.0,1,0,both,Slowest Days,Regularly busy,Regularly busy,43
12,0,1,Chocolate Sandwich Cookies,61,19,5.8,23715,23715,1727826,1480,...,4,13,7.0,3,1,both,Slowest Days,Least busy,Least busy,43
13,0,1,Chocolate Sandwich Cookies,61,19,5.8,23716,23716,2694698,1480,...,2,12,12.0,4,1,both,Regularly busy Days,Regularly busy,Regularly busy,43
14,0,1,Chocolate Sandwich Cookies,61,19,5.8,23937,23937,3171753,1494,...,3,10,2.0,8,0,both,Slowest Days,Regularly busy,Regularly busy,13
15,0,1,Chocolate Sandwich Cookies,61,19,5.8,23938,23938,186761,1494,...,2,8,6.0,18,1,both,Regularly busy Days,Regularly busy,Regularly busy,13
16,0,1,Chocolate Sandwich Cookies,61,19,5.8,23940,23940,317121,1494,...,5,8,10.0,12,1,both,Regularly busy Days,Regularly busy,Regularly busy,13
17,0,1,Chocolate Sandwich Cookies,61,19,5.8,24740,24740,200390,1540,...,2,0,7.0,10,0,both,Regularly busy Days,Regularly busy,Regularly busy,28
18,0,1,Chocolate Sandwich Cookies,61,19,5.8,24741,24741,374436,1540,...,1,21,6.0,9,1,both,Busiest Days,Regularly busy,Regularly busy,28
19,0,1,Chocolate Sandwich Cookies,61,19,5.8,24742,24742,2920553,1540,...,1,0,14.0,9,1,both,Busiest Days,Regularly busy,Regularly busy,28

In [13]:
# Assign loyalty flag
df_ords_prods_merge.loc[df_ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

df_ords_prods_merge.loc[(df_ords_prods_merge['max_order'] <= 40) & (df_ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'

df_ords_prods_merge.loc[df_ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [14]:
# Check loyalty flags
df_ords_prods_merge['loyalty_flag'].value_counts(dropna = False)

loyalty_flag
Regular customer    15876776
Loyal customer      10284093
New customer         6243990
Name: count, dtype: int64

In [15]:
# Check Loyalty flag in data frame
df_ords_prods_merge[['user_id', 'loyalty_flag', 'order_number','max_order']].head(20)

    user_id      loyalty_flag  order_number  max_order
0       138  Regular customer            28         32
1       138  Regular customer            30         32
2       709      New customer             2          5
3       764      New customer             1          3
4       764      New customer             3          3
5       777  Regular customer            16         26
6       825      New customer             3          9
7       910  Regular customer            12         12
8      1052  Regular customer            10         20
9      1052  Regular customer            15         20
10     1379      New customer             1         10
11     1480    Loyal customer            36         43
12     1480    Loyal customer            38         43
13     1480    Loyal customer            39         43
14     1494  Regular customer             6         13
15     1494  Regular customer             7         13
16     1494  Regular customer             9         13
17     1540  Regular customer             4         28
18     1540  Regular customer             5         28
19     1540  Regular customer             6         28

STEP 5

In [16]:
# the min max and mean of each loyalty flag
df_ords_prods_merge.groupby(['loyalty_flag']).agg({'prices':['mean','min','max']})

                     prices
                       mean  min      max
loyalty_flag
Loyal customer    10.386336  1.0  99999.0
New customer      13.294670  1.0  99999.0
Regular customer  12.495717  1.0  99999.0

New customers have the least price of products in both the average and max. Loyal customer have the highest price of products in both the average and max.

STEP 6

In [17]:
# Creating column for average spender
df_ords_prods_merge['average_spend']=df_ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

In [18]:
# Creating flag for low and high spender
df_ords_prods_merge.loc[df_ords_prods_merge['average_spend']<10,'spender_flag']='Low_spender'

df_ords_prods_merge.loc[df_ords_prods_merge['average_spend']>= 10, 'spender_flag'] = 'High_spender'

In [19]:
# Check spender flags
df_ords_prods_merge['spender_flag'].value_counts(dropna = False)

spender_flag
Low_spender     31770614
High_spender      634245
Name: count, dtype: int64

In [20]:
pd.options.display.max_rows = 100

In [21]:
df_ords_prods_merge[['user_id', 'average_spend', 'spender_flag', 'prices']].head(100)

    user_id  average_spend  spender_flag  prices
0       138       6.935811   Low_spender     5.8
1       138       6.935811   Low_spender     5.8
2       709       7.930208   Low_spender     5.8
3       764       4.972414   Low_spender     5.8
4       764       4.972414   Low_spender     5.8
5       777       6.935398   Low_spender     5.8
6       825       5.957576   Low_spender     5.8
7       910       6.680000   Low_spender     5.8
8      1052       7.162500   Low_spender     5.8
9      1052       7.162500   Low_spender     5.8
10     1379       5.813636   Low_spender     5.8
11     1480       5.081633   Low_spender     5.8
12     1480       5.081633   Low_spender     5.8
13     1480       5.081633   Low_spender     5.8
14     1494       6.803797   Low_spender     5.8
15     1494       6.803797   Low_spender     5.8
16     1494       6.803797   Low_spender     5.8
17     1540       6.607122   Low_spender     5.8
18     1540       6.607122   Low_spender     5.8
19     1540       6.607122   Low_spender     5.8
20     1540       6.607122   Low_spender     5.8
21     1540       6.607122   Low_spender     5.8
22     1540       6.607122   Low_spender     5.8
23     1540       6.607122   Low_spender     5.8
24     1540       6.607122   Low_spender     5.8
25     1540       6.607122   Low_spender     5.8
26     1540       6.607122   Low_spender     5.8
27     1540       6.607122   Low_spender     5.8
28     1540       6.607122   Low_spender     5.8
29     1540       6.607122   Low_spender     5.8
30     1540       6.607122   Low_spender     5.8
31     1540       6.607122   Low_spender     5.8
32     1540       6.607122   Low_spender     5.8
33     1540       6.607122   Low_spender     5.8
34     1598       7.123529   Low_spender     5.8
35     1598       7.123529   Low_spender     5.8
36     1598       7.123529   Low_spender     5.8
37     1647       4.853521   Low_spender     5.8
38     1647       4.853521   Low_spender     5.8
39     1647       4.853521   Low_spender     5.8
40     1647       4.853521   Low_spender     5.8
41     1647       4.853521   Low_spender     5.8
42     2833       7.377143   Low_spender     5.8
43     2850       8.054153   Low_spender     5.8
44     2857       8.353793   Low_spender     5.8
45     3010       6.452800   Low_spender     5.8
46     3029       7.960606   Low_spender     5.8
47     3395       6.322222   Low_spender     5.8
48     3904       7.511111   Low_spender     5.8
49     4006       7.441100   Low_spender     5.8
50     4006       7.441100   Low_spender     5.8
51     4006       7.441100   Low_spender     5.8
52     4006       7.441100   Low_spender     5.8
53     4006       7.441100   Low_spender     5.8
54     4122       7.598765   Low_spender     5.8
55     4141       6.033333   Low_spender     5.8
56     4343       7.393939   Low_spender     5.8
57     4553       5.715789   Low_spender     5.8
58     4845       7.229630   Low_spender     5.8
59     6866       4.807143   Low_spender     5.8
60     7275       4.620833   Low_spender     5.8
61     7669       9.106757   Low_spender     5.8
62     7669       9.106757   Low_spender     5.8
63     7669       9.106757   Low_spender     5.8
64     7981       7.115714   Low_spender     5.8
65     7981       7.115714   Low_spender     5.8
66     7981       7.115714   Low_spender     5.8
67     7981       7.115714   Low_spender     5.8
68     7981       7.115714   Low_spender     5.8
69     8703       6.593459   Low_spender     5.8
70     8723       5.677397   Low_spender     5.8
71     8735       5.850000   Low_spender     5.8
72     9293      11.857143  High_spender     5.8
73     9293      11.857143  High_spender     5.8
74     9467       7.709091   Low_spender     5.8
75     9694       7.075354   Low_spender     5.8
76     9694       7.075354   Low_spender     5.8
77     9694       7.075354   Low_spender     5.8
78     9694       7.075354   Low_spender     5.8
79     9694       7.075354   Low_spender     5.8
80     9694       7.075354   Low_spender     5.8
81     9694       7.075354   Low_spender     5.8
82     9694       7.075354   Low_spender     5.8
83     9694       7.075354   Low_spender     5.8
84     9694       7.075354   Low_spender     5.8
85     9694       7.075354   Low_spender     5.8
86     9848       8.312203   Low_spender     5.8
87    10113       8.769565   Low_spender     5.8
88    10315      10.188889  High_spender     5.8
89    10479       7.779775   Low_spender     5.8
90    10708       7.777403   Low_spender     5.8
91    10708       7.777403   Low_spender     5.8
92    10789       6.097701   Low_spender     5.8
93    10789       6.097701   Low_spender     5.8
94    10789       6.097701   Low_spender     5.8
95    10831       7.494286   Low_spender     5.8
96    11119       5.878641   Low_spender     5.8
97    11186       6.618085   Low_spender     5.8
98    11243       5.927149   Low_spender     5.8
99    11448       5.981250   Low_spender     5.8

STEP 7

In [22]:
# Create a column for frequet users
df_ords_prods_merge['Customer_frequency'] = df_ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

In [23]:
# Creating flag on order frequency
df_ords_prods_merge.loc[df_ords_prods_merge['Customer_frequency'] > 20, 'frequency_flag'] = 'Non_frequent_customer'

df_ords_prods_merge.loc[(df_ords_prods_merge['Customer_frequency']>10) & (df_ords_prods_merge['Customer_frequency']<=20),'frequency_flag'] = 'Regular customer'

df_ords_prods_merge.loc[df_ords_prods_merge['Customer_frequency'] <= 10, 'frequency_flag'] = 'Frequent Customer'

In [24]:
# Check frequency flags

df_ords_prods_merge['frequency_flag'].value_counts(dropna = False)

frequency_flag
Frequent Customer        21559853
Regular customer          7208564
Non_frequent_customer     3636437
NaN                             5
Name: count, dtype: int64

NaN values should mean that there are 5 customers who have only bought once.

In [25]:
df_ords_prods_merge[['user_id','days_since_prior_order', 'Customer_frequency', 'frequency_flag']].head(100)

    user_id  days_since_prior_order  Customer_frequency         frequency_flag
0       138                     3.0                 8.0      Frequent Customer
1       138                    20.0                 8.0      Frequent Customer
2       709                     6.0                 8.0      Frequent Customer
3       764                     NaN                 9.0      Frequent Customer
4       764                     9.0                 9.0      Frequent Customer
5       777                    26.0                11.0       Regular customer
6       825                    30.0                20.0       Regular customer
7       910                    30.0                 6.0      Frequent Customer
8      1052                    19.0                10.0      Frequent Customer
9      1052                    15.0                10.0      Frequent Customer
10     1379                     NaN                20.0       Regular customer
11     1480                     7.0                 7.0      Frequent Customer
12     1480                     7.0                 7.0      Frequent Customer
13     1480                    12.0                 7.0      Frequent Customer
14     1494                     2.0                 7.0      Frequent Customer
15     1494                     6.0                 7.0      Frequent Customer
16     1494                    10.0                 7.0      Frequent Customer
17     1540                     7.0                 7.0      Frequent Customer
18     1540                     6.0                 7.0      Frequent Customer
19     1540                    14.0                 7.0      Frequent Customer
20     1540                     8.0                 7.0      Frequent Customer
21     1540                     6.0                 7.0      Frequent Customer
22     1540                    28.0                 7.0      Frequent Customer
23     1540                     7.0                 7.0      Frequent Customer
24     1540                     7.0                 7.0      Frequent Customer
25     1540                     0.0                 7.0      Frequent Customer
26     1540                     7.0                 7.0      Frequent Customer
27     1540                     7.0                 7.0      Frequent Customer
28     1540                     7.0                 7.0      Frequent Customer
29     1540                     7.0                 7.0      Frequent Customer
30     1540                     3.0                 7.0      Frequent Customer
31     1540                    16.0                 7.0      Frequent Customer
32     1540                     5.0                 7.0      Frequent Customer
33     1540                     6.0                 7.0      Frequent Customer
34     1598                     NaN                 2.0      Frequent Customer
35     1598                    21.0                 2.0      Frequent Customer
36     1598                     2.0                 2.0      Frequent Customer
37     1647                     NaN                25.0  Non_frequent_customer
38     1647                    18.0                25.0  Non_frequent_customer
39     1647                     8.0                25.0  Non_frequent_customer
40     1647                    30.0                25.0  Non_frequent_customer
41     1647                    25.0                25.0  Non_frequent_customer
42     2833                     NaN                13.0       Regular customer
43     2850                     9.0                 7.0      Frequent Customer
44     2857                    10.0                11.0       Regular customer
45     3010                     7.0                 7.0      Frequent Customer
46     3029                     NaN                28.0  Non_frequent_customer
47     3395                    30.0                18.0       Regular customer
48     3904                     NaN                21.0  Non_frequent_customer
49     4006                     7.0                 7.0      Frequent Customer
50     4006                     7.0                 7.0      Frequent Customer
51     4006                     7.0                 7.0      Frequent Customer
52     4006                     5.0                 7.0      Frequent Customer
53     4006                     4.0                 7.0      Frequent Customer
54     4122                     8.0                 7.0      Frequent Customer
55     4141                    30.0                30.0  Non_frequent_customer
56     4343                     NaN                30.0  Non_frequent_customer
57     4553                    29.0                30.0  Non_frequent_customer
58     4845                    12.0                20.0       Regular customer
59     6866                     NaN                30.0  Non_frequent_customer
60     7275                     4.0                12.0       Regular customer
61     7669                     5.0                 5.0      Frequent Customer
62     7669                     5.0                 5.0      Frequent Customer
63     7669                    13.0                 5.0      Frequent Customer
64     7981                    10.0                 6.0      Frequent Customer
65     7981                     6.0                 6.0      Frequent Customer
66     7981                     9.0                 6.0      Frequent Customer
67     7981                     6.0                 6.0      Frequent Customer
68     7981                     8.0                 6.0      Frequent Customer
69     8703                     1.0                 1.0      Frequent Customer
70     8723                     7.0                 6.0      Frequent Customer
71     8735                    21.0                27.0  Non_frequent_customer
72     9293                    30.0                30.0  Non_frequent_customer
73     9293                    30.0                30.0  Non_frequent_customer
74     9467                     NaN                30.0  Non_frequent_customer
75     9694                    30.0                10.0      Frequent Customer
76     9694                     8.0                10.0      Frequent Customer
77     9694                     7.0                10.0      Frequent Customer
78     9694                    14.0                10.0      Frequent Customer
79     9694                    28.0                10.0      Frequent Customer
80     9694                    16.0                10.0      Frequent Customer
81     9694                     1.0                10.0      Frequent Customer
82     9694                    14.0                10.0      Frequent Customer
83     9694                     7.0                10.0      Frequent Customer
84     9694                     8.0                10.0      Frequent Customer
85     9694                    16.0                10.0      Frequent Customer
86     9848                     8.0                11.0       Regular customer
87    10113                    14.0                12.0       Regular customer
88    10315                     NaN                11.0       Regular customer
89    10479                     8.0                14.5       Regular customer
90    10708                    14.0                14.0       Regular customer
91    10708                    14.0                14.0       Regular customer
92    10789                    10.0                 7.0      Frequent Customer
93    10789                    14.0                 7.0      Frequent Customer
94    10789                     4.0                 7.0      Frequent Customer
95    10831                    23.0                23.0  Non_frequent_customer
96    11119                    30.0                13.0       Regular customer
97    11186                     2.0                 6.0      Frequent Customer
98    11243                     0.0                 6.0      Frequent Customer
99    11448                     3.0                14.0       Regular customer

9. Export Dataframe

In [26]:
#Export to pickle file
df_ords_prods_merge_sub.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'aggregated_ords_prods_merge.pkl'))